footer{
    position: relative;
    bottom: -70px;
}

.phone_number{
    font-family: 'Century Gothic', 'Times New Roman', serif;
    font-size: 32pt;
    position: relative;
    right: -230px;
    top: 30px;
}

.free_text{
    font-family: 'Century Gothic', 'Times New Roman', serif;
    font-size: 13pt;
    position: relative;
    right: -410px;
    top: 40px;
}

.main_menu{
    position: relative;
    right: -145px;
    top: 60px;
}

.main_menu a:hover{
    text-decoration: none;
}

.carousel {
    margin-top: 30px;
}

#menu-bar{
    position: relative;
    top: 20px;
}

#menu-bar a{
    font-family: 'AGUniversityCyr-Roman', serif;
    font-size: 24pt;
    color: firebrick;
    letter-spacing: -0.1em;
    word-spacing: -0.25em;
}

#menu-bar a:hover{
    text-decoration: none;
}