footer{
    position: relative;
    bottom: -70px;
}

.phone_number{
    font-family: 'Century Gothic', 'Times New Roman', serif;
    font-size: 32pt;
    position: relative;
    right: -230px;
    top: 30px;
}

.free_text{
    font-family: 'Century Gothic', 'Times New Roman', serif;
    font-size: 13pt;
    position: relative;
    right: -410px;
    top: 40px;
}

.main_menu{
    position: relative;
    right: -145px;
    top: 60px;
}

.main_menu a:hover{
    text-decoration: none;
}

.carousel {
    margin-top: 30px;
}

#menu-bar{
    position: relative;
    top: 20px;
}

#menu-bar a{
    font-family: 'AGUniversityCyr-Roman', serif;
    font-size: 26pt;
    color: firebrick;
    letter-spacing: -0.1em;
    word-spacing: -0.25em;
}

#menu-bar a:hover{
    text-decoration: none;
}

.thumbnails a:hover{
    text-decoration: none;
}

.thumbnails a{
    color: #bd362f;
    font-size: 20pt;
    font-family: 'Century Gothic', 'Times New Roman', serif;
}

.thumbnails{
    margin-top: 50px;
    border: none;
}

#dish-name{
    color: #000000;
}

#dish-weight{
    color: #808080;
    font-size: 22px;
}

#dish-cost{
    color: red;
    font-size: 28px;
    font-weight: bold;
}

#index_t{
    margin-left: 0px;
}