/**
    for orders.scala.html
**/

.head-order {
    font-family: 'Century Gothic', 'Times New Roman', serif;
    font-size: 12pt;
}

.head-order a {
    color: green;
}

.exit {
    margin-left: 50px;
}

#order-container{
    margin-top: 25px;
}

#info{
    margin-top: 5px;
    margin-left: 0px;
    font-family: 'Century Gothic', 'Times New Roman', serif;
    font-size: 12pt;
}

#table-form{
    margin-top: -8px;
    font-family: 'Century Gothic', 'Times New Roman', serif;
    font-size: 12pt;
}
#table-order{
    margin-top: 10px;
}

.btn-send{
    margin-top: -15px;
    margin-bottom: 12px;
    margin-left: 62px;
}

.group-in-container{
    margin-left: 17px;
    margin-bottom: 17px;
}

#order-date{
    margin-left: 90px;
}