@(sorts: List[models.DishSort], sum : scala.Int)


@main(Html("Pizza"), sum) {
    <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item"><img src="@routes.Assets.at("images/pizza11.jpg")" alt=""></div>
            <div class="item"><img src="@routes.Assets.at("images/pizza133ital.jpg")" alt=""></div>
            <div class="item"><img src="@routes.Assets.at("images/telatjigo1.jpg")" alt=""></div>
            <div class="item"><img src="@routes.Assets.at("images/desert1.jpg")" alt=""></div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>


    <!--<input type="button" class="button" name="magic_button" value="Json" id="JsonBOTH">
    <input type="button" class="button" name="magic_button" value="JsonFromServer" id="JsonGET">
    <input type="button" class="button" name="magic_button" value="JsonToServer" id="JsonPOST">
    -->

    <ul class="thumbnails" id="index_t">
        <div class="row">
        @for(sort <- sorts.seq) {
            <li class="span4" id="index_s">
                <a href="@routes.Application.menu(sort.getId())" class="thumbnail">
                    <img src="@routes.Assets.at(sort.getPicturePath())" width="270px" height="180px">
                    <p class="text-center">@sort.getName</p>
                </a>
            </li>
        }
        </div>
    </ul>
    <script src="@routes.Assets.at("javascripts/index-scripts.js")" type="text/javascript"></script>
}
