@(sortId: scala.Int, sorts: List[models.DishSort], dishes: List[models.Dish])

@import helper._

@mainadmin(Html("Pizza")) {
    <div class="row head-order">
        <div class="span4 offset7">
            <a href="@routes.AdministrationController.getOrders()">Отслеживание заказов</a>
            <a href="@routes.Application.logout()" class="exit">Выход</a>
        </div>
    </div>
    <div class="row" id="menu-bar">
        <div class="span12">
        @for(sort <- sorts.seq) {
            <a href="@routes.AdministrationController.indexadmin(sort.getId())">@sort.getName() &nbsp; &nbsp; &nbsp;</a>
        }
        </div>
    </div>
        <!--0 - ничего не отображать
        1 - успешно добавлено или измененл
        2 - ошибка
        -->
        <div class="alert alert-success" hidden="true">
            <p class="message" id="success-message">Действие выполнено успешно</p>
        </div>

        <div class="alert alert-error" hidden="true">
            <p class="message" id="error-message">Ошибка</p>
        </div>


        <div class="row form-block1" id="addDish">
            <div class="span3">
                <form method="POST" action="#" id="addForm" enctype="multipart/form-data">
                    <img class="dish-image" src="@routes.Assets.at("images/default.jpg")" width="270px" height="180px"> <br>
                    <input type="file" name="picture" class="input-file" d_id="addDish" f_id="addForm" onchange="mapImage(this);" size="19%">
                    <p><input type="submit" class="btn" value="Отправить"></p>
                </form>
                <!--<input id="input-file" type="file" onchange="mapImage(this);" size="19%"/>-->
            </div>
            <div class="span8">
                <div class="form-inline form-horizontal">
                    <nobr>
                        Название&nbsp;<input class="input-medium inputName" type="text" placeholder="Название">
                    </nobr>
                    <nobr id="block-weight">
                        Масса&nbsp;<input class="span1 inputWeight" type="text" placeholder="0"> &nbsp;г.
                    </nobr>
                    <nobr id="block-price">
                        Цена&nbsp;<input class="span1 inputPrice" type="text" placeholder="0"> &nbsp;руб.
                    </nobr>
                    <button class="btn addDishBut6ton" sort_id="@sortId">Добавить</button>
                </div>
                <div class="ingredients">
                    Ингредиенты <br>
                    <input class="input-block-level inputIngredients" type="text">
                </div>
                <div class="description">
                    Описание <br>
                    <textarea class="input-block-level textareaDescription" rows="3"></textarea>
                </div>
            </div>
        </div>
        <img id="big-line" src="@routes.Assets.at("images/big-line.png")">

        @for(dish <- dishes.seq) {
            <div class="row form-block2" id="@dish.getId()">
                <div class="span3">
                    <form method="POST" action="@routes.AdministrationController.upload(dish.getId())" id="form@dish.getId()" enctype="multipart/form-data">
                        <img class="dish-image" d_id="@dish.getId()" src="@routes.Assets.at(dish.getPicturePath())" width="270px" height="180px"> <br>
                        <input type="file" name="picture" class="input-file" d_id="@dish.getId()" id="file@dish.getId()" onchange="mapImage(this);" size="19%">
                        <!--<p><input type="submit" class="btn" value="Отправить"></p>-->
                    </form>
                    <!--<input id="input-file" type="file" onchange="mapImage(this);" size="19%"/>-->
                </div>
                <div class="span8">
                    <div class="form-inline form-horizontal">
                        <nobr>
                            Название&nbsp;<input class="input-medium inputName" type="text" value="@dish.getName()">
                        </nobr>
                        <nobr id="block-weight">
                            Масса&nbsp;<input class="span1 inputWeight" type="text" value="@dish.getWeight()"> &nbsp;г.
                        </nobr>
                        <nobr id="block-price">
                            Цена&nbsp;<input class="span1 inputPrice" type="text" value="@dish.getPrice()"> &nbsp;руб.
                        </nobr>
                        <button class="btn acceptDishButton" dish_id="@dish.getId()" value="@dish.getId()" sort_id="@sortId">
                            Изменить
                        </button>
                    </div>
                    <div class="ingredients">
                        Ингредиенты <br>
                    <input class="input-block-level inputIngredients" type="text" value="@dish.getIngredients()">
                    </div>
                    <div class="description">
                        Описание <br>
                    <textarea class="input-block-level textareaDescription" rows="3">@dish.getDescription()</textarea>
                    </div>
                </div>
            </div>
        }


}

<script type="text/javascript">
    function mapImage(input) {
        var id = input.getAttribute("d_id");
        //var f_id = input.getAttribute("f_id");
        //alert(id);
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
            $(document.getElementById(id).getElementsByClassName("dish-image")[0]).attr('src', e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
        }
    }

    $(document).ready(function () {
    $("body").on('click', '.addDishButton', function () {
    document.getElementById("success-message").setAttribute("hidden", "true");
    document.getElementById("error-message").setAttribute("hidden", "true");
    var id_s = $(this).attr("sort_id");
    var newDish = {
    "name": $(document.getElementById("addDish").getElementsByClassName("inputName")[0]).val(),
    "weight": $(document.getElementById("addDish").getElementsByClassName("inputWeight")[0]).val(),
    "price": $(document.getElementById("addDish").getElementsByClassName("inputPrice")[0]).val(),
    "ingredients": $(document.getElementById("addDish").getElementsByClassName("inputIngredients")[0]).val(),
    "description": $(document.getElementById("addDish").getElementsByClassName("textareaDescription")[0]).val()
    }
    var js = JSON.stringify(newDish);
    jsRoutes.controllers.AdministrationController.addDish(id_s).ajax({
    type: "POST",
    data: js,
    dataType: 'text',   //тип ответа
    contentType: 'json',
    success: function (data) {
    alert("Успех");

    $('#addForm').submit();
    document.getElementById("success-message").innerText = data;
    document.getElementById("success-message").setAttribute("hidden", "false");
    },
    error: function (data) {
    alert("Неудача");
    document.getElementById("error-message").innerText = data;
    document.getElementById("error-message").setAttribute("hidden", "false");
    }
    });
    });
    });

    $(document).ready(function () {
    $("body").on('click', '.acceptDishButton', function () {
    alert("!");
    document.getElementById("success-message").setAttribute("hidden", "true");
    document.getElementById("error-message").setAttribute("hidden", "true");
    var id = $(this).attr("dish_id");
    var id_s = $(this).attr("sort_id");
    //var src = $(document.getElementById(id).getElementsByClassName("dish-image")[0]).attr("src").val();
    //alert(src);
    var newDish = {
    "name": $(document.getElementById(id).getElementsByClassName("inputName")[0]).val(),
    "weight": $(document.getElementById(id).getElementsByClassName("inputWeight")[0]).val(),
    "price": $(document.getElementById(id).getElementsByClassName("inputPrice")[0]).val(),
    "ingredients": $(document.getElementById(id).getElementsByClassName("inputIngredients")[0]).val(),
    "description": $(document.getElementById(id).getElementsByClassName("textareaDescription")[0]).val()
    }
    var js = JSON.stringify(newDish);
    jsRoutes.controllers.AdministrationController.changeDish(id_s, id).ajax({
    type: "PUT",
    data: js,
    dataType: 'text',   //тип ответа
    contentType: 'application/json',
    success: function (data) {
    alert("Успех");
    $('#form'+id).submit();
    document.getElementById("success-message").innerText = data;
    document.getElementById("success-message").setAttribute("hidden", "false");
    },
    error: function (data) {
    alert("Неудача");
    document.getElementById("error-message").innerText = data;
    document.getElementById("error-message").setAttribute("hidden", "false");
    }
    });
    });
    });

</script>