@(sortId: scala.Int, dishes: List[models.Dish], selectedItems: List[scala.Int])

@main(Html("Pizza")){
    <div class="row" id="menu-bar">
        <div class="span12">
            <a href="/">Пицца &nbsp&nbsp&nbsp</a>
            <a href="#">Горячие блюда &nbsp&nbsp&nbsp</a>
            <a href="#">Холодные блюда &nbsp&nbsp&nbsp</a>
        </div>
    </div>

    <ul class="thumbnails"  id="menu_thumbnails">
        <div class="row">
        @for(dish <-  dishes.seq) {
                <!--<li class="span4 offset1">-->
                <li class="span4">
                    <a href="#" class="thumbnail" id="menu_s">
                        <!--Где-то здесь должен быть выбор цвета и надписи кнопки добавления в корзину или еще чего в зависимости от того, есть это блюдо в корзине или нет-->
                        <img src="@routes.Assets.at(dish.getPicturePath())" width="270px" height="180px">
                        <p class="text-center" id="dish-name">@dish.getName()</p>
                        <p class="text-center" id="dish-weight">@dish.getWeight() г</p>
                        <p class="text-center" id="dish-cost">@dish.getPrice() руб.</p>
                    </a>
                    <!--<center><input type="image" src="@routes.Assets.at("images/buttons/dark_green_button_book.png")" class="button" alt="Добавить в корзину"></center>-->
                    <center><button class="btn btn-success" id="btn-book">Заказать</button></center>
                </li>
        }
        </div>
    </ul>
}
