@main(Html("Pizza")){
    <h2>Second page</h2>

    <p>
            Paaaaaaaaaraaaaaaaam!
    </p>
}

<div class="row">

<div class="span4">
<img  src="@routes.Assets.at("images/logo.png")">
</div>
<div class="span8">
<p class="phone_number">+7 (473) 222-33-44</p>
<p class="free_text">Доставка бесплатна</p>
<div class="main_menu">
<a href="#"><img src="@routes.Assets.at("images/btn_1.png")">               </a>
<a href="#"><img src="@routes.Assets.at("images/btn_2.png")">               </a>
<a href="#"><img src="@routes.Assets.at("images/btn_3.png")">               </a>
<a href="#"><img src="@routes.Assets.at("images/btn_4.png")"></a>
<br>
<img src="@routes.Assets.at("images/line1.png")">
</div>
</div>

</div>