@main(Html("Pizza")){
    <div class="row" id="menu-bar">
        <div class="span12">
            <a href="/">Пицца &nbsp&nbsp&nbsp</a>
            <a href="#">Горячие блюда &nbsp&nbsp&nbsp</a>
            <a href="#">Холодные блюда &nbsp&nbsp&nbsp</a>
        </div>
    </div>

    <ul class="thumbnails">
        <div class="row">
            <li class="span4 offset1">
                <a href="#" class="thumbnail">
                    <img src="@routes.Assets.at("images/titlesformainpage/pizza_title.jpg")" width="270px" height="180px">
                    <p class="text-center" id="dish-name">Пицца1</p>
                    <p class="text-center" id="dish-weight">680 г</p>
                    <p class="text-center" id="dish-cost">240 руб</p>
                </a>
            </li>
            <li class="span4 offset2">
                <a href="#" class="thumbnail">
                    <img src="@routes.Assets.at("images/titlesformainpage/hot_title1.jpg")" width="270px" height="180px">
                    <p class="text-center" id="dish-name">Пицца2</p>
                    <p class="text-center" id="dish-weight">800 г</p>
                    <p class="text-center" id="dish-cost">350 руб</p>
                </a>
            </li>
        </div>
    </ul>
}
