@(sum: scala.Int)

@main(Html("Pizza"), sum) {
    <div class="row">
        <p class="text-center order-sent">
            Заказ оформлен
        </p>

        <div class="text-center">
            <button href="@routes.Application.index()" class="btn-large btn-send">Вернуться на главную страницу</button>
        </div>
    </div>
}