@(orders: List[models.Order])
@mainadmin(Html("Pizza")) {
    <div class="row head-order">
        <div class="span4 offset6">
            <a href="@routes.AdministrationController.indexadmin(1)">Редактирование меню</a>
            <a href="@routes.Application.logout()" class="exit">Выход</a>
        </div>
    </div>
    <div id="order-container" class="span11">
    @for(order <- orders.seq) {
        <div class="thumbnail group-in-container" id="order@order.getId()">
            <div class="row" id="info">
                <div class="span2">
                    <strong>Заказ</strong> <nobr id="order-number">@order.getId()</nobr>
                </div>
                <div class="span4" id="order-date">
                    <strong>Время приема</strong> <nobr id="order-time">@order.getRecievingTime().format("HH:mm:ss")</nobr>
                </div>
            </div>
            <div class="row span10" id="table-form" xmlns="http://www.w3.org/1999/html">
                <table class="table table-striped table-bordered table-condensed" id="table-order">
                    <thead>
                        <tr>
                            <th width="40"><center>#</center></th>
                            <th>Блюдо</th>
                            <th width="40">Кол-во</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for((item, i) <- order.getItems().zipWithIndex) {
                        <tr>
                            <th><center>@(i + 1)</center></th>
                            <th>@item.getDish().getName()</th>
                            <th><center>@item.getQuantity()</center></th>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="span1 offset8">
                    <button class="btn btn-success btn-send" id="@order.getId()">Отправить</button>
                </div>
            </div>
        </div>
    }
    </div>
    <script src="@routes.Assets.at("javascripts/orders-scripts.js")" type="text/javascript"></script>
}